@*@model IEnumerable<Shop_15.Models.Product>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>
@foreach (Product item in Model)
{
    <form method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <img src="@item.Image" />
                </div>
            </div>
        </div>
    </form>
}*@