@model List<Shop_15.Models.Product>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 pb-4 ">
                <partial model="item" name="_productCard" />
                <a asp-action="RemoveFromCart" asp-route-id="@item.Id" class="btn btn-warning btn-lg text-white w-100" style="height:50px;">Remove from Cart</a>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".filter-btn").click(function () {
                let value = $(this).attr('data-filter');
                if (value == "all") {
                    $(".filter").show("1000");
                } else {
                    $(".filter").not("." + value).hide("3000");
                    $(".filter").filter("." + value).show("3000");
                }
            })
        })
    </script>
}
